html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Bright", "Palatino Linotype", "Book Antiqua", "serif";
}

header .navigation {
    background-color: #21111f;
    color: #fbf7ec;
    display: flex;
}

.fill {
    flex: 1;
}

header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 8px;
    height: 80px;
    font-size: 18pt;
}

header a, header a:hover, header a:visited {
    color: #fbf7ec;
    text-decoration: none;
}

header a:hover {
    background-color: #31212f;
}

header h1 {
    background-color: #9e8b84;
    color: #fbf7ec;
    line-height: 64px;
    font-size: 16pt;
    margin: 0;
    padding-left: 24px;
    font-weight: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main .content {
    margin: 0 auto;
}

main .content form {
    display: table;
}

main .content form p {
    display: table-row;
}

main .content form p label {
    text-align: right;
    display: table-cell;
}

main .content form p input {
    display: table-cell;
}

footer .upper {
    background-color: #fbf7ec;
    height: 48px;
}

footer .lower {
    background-color: #21111f;
    color: #fbf7ec;
    text-align: center;
    line-height: 48px;
}

th {
    padding: 15px;
}

td {
    padding: 10px;
}