<!DOCTYPE html>
<html>
    <head>
        <title>OddJobber - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="navigation">
                <a href="{% url 'home' %}"><img src="/static/logo.png"></a>
                <div class="fill"></div>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_jobs' %}">Create Job</a>
                    <a href="{% url 'search_jobs' %}">Search Jobs</a>
                    <div class="fill"></div>
                    <a href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <div class="fill"></div>
                <a href="{% url 'login' %}"><b>Login</b></a>
                {% endif %}
            </div>
            <h1>{% block head %}{% endblock %}</h1>
        </header>
        <main>
            <div class="fill"></div>
            <div class="content">
            {% block content %}{% endblock %}
            </div>
            <div class="fill"></div>
        </main>
        <footer>Copyright 2017 OddJobber.</footer>
    </body>
</html>
