{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td> Title </td>
            <td> Price </td>
            <td> Expires </td>
            <td> Description </td>
        </tr>
        {% if jobs %}
            {% for job in jobs %}
                <tr>
                    <td>{{ job.jobtitle }}</td>
                    <td>{{ job.price }}</td>
                    <td>{{ job.due_date }}</td>
                    <td>{{ job.description }}</td>
                    <input type = "submit" value="Inquire" method="POST">
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
